[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uno-server = {editable = true, path = "."}
python-socketio = "*"
eventlet = "*"

[dev-packages]

[requires]
python_version = "3.9"
